:root {
   --slider-color: #302AE6;
  --font-color: #424242;
  --bg-color: #5095e4;
  --heading-color: #292922;
  --wall-color: #254974;
  --pathPrimary-color: #5AD7F0;
  --pathSecondary-color: #5EC45E;
}

[data-theme="dark"] {
  --slider-color: #9A97F3;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --wall-color: #e5df8f;
  --pathPrimary-color: #13c9e9;
  --pathSecondary-color: #5EC45E;
}

body{
  background-color: var(--bg-color);
  color: var(--font-color);
}
* {
  margin: 0;
}


.mainContent {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.topSection {
  flex: 0.2;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* top Section styling */

#Speed-Bar {
  flex: 0.3;
  padding: 20px;
  margin-right: 5%;
  padding: 5px;
}
#Algorithm {
  flex: 0.3;
  padding: 20px;
}
.ButtonContainer {
  flex: 0.4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100px;
  font-size: 15px;
  margin: 10px 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(43, 42, 37);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(182 246 214);
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 95%;
  height: 240%;
  width: 205%;
  background: #eec476;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  transform: translateX(-30%) translateY(-25%) rotate(45deg);
}

.algoDropdown {
  font-size: 18px;
  width: 280px;
  display: inline-block;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  color: #474747;
  height: 100%;
  text-align: left;
}
.algoDropdown .default {
  cursor: pointer;
  padding: 10px;
}
.algoDropdown:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.algoDropdown:active {
  background-color: #f8f8f8;
}
.algoDropdown.active:hover,
.algoDropdown.active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.algoDropdown .algoDropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  /* display: none; */
  height: 0px;
  overflow-x: hidden;
  z-index: 9;
  background-color: #9fe4e1;
}
.algoDropdown .algoDropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.algoDropdown .algoDropdown-menu {
  padding: 0;
  list-style: none;
}
.algoDropdown .algoDropdown-menu li:hover {
  background-color: #55e7af;
}
.algoDropdown .algoDropdown-menu li:active {
  background-color: #e2e2e2;
}

#speed {
  width: 200px;
  /* height: 150px; */
  -webkit-appearance: none;
  background: var(--slider-color);
  outline: none;
  border-radius: 15px;
  overflow-x: hidden;
  box-shadow: inset 0 0 5px;
}
#speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: pointer;
  border: 4px solid #00fd0a;
  box-shadow: -407px 0 0 400px #00fd0a;
}
/* top section styling ends */

/* :root{
  --rows:20;
  --cols:20;
} */
.grid-container {
  border-radius: 41px;
  place-content: center;
  flex: 0.8;
  display: grid;
  cursor: crosshair;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  /* column-count: var(--cols); */
  grid-template-rows: repeat(var(--rows), 30px);
  grid-template-columns: repeat(var(--cols), 30px);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box {
  background: transparent;
  text-align: center;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px 0px 10px #d4d4d4, inset 0px -1px 10px #ffffff;
  border: 1px;
}
.isWall {
  background-color: var(--wall-color) !important;
  box-shadow: none;
}
/* .box:hover{
  box-shadow: 5px 5px 10px #00000027, -5px -5px 10px #ffffff;
} */
.Icon {
  width: 25px;
  font-size: 25px;
  cursor: grab;
}
.pathPrimary{
  background-color: var(--pathPrimary-color);
  animation: pathAnimation 700ms ease-out 1 alternate forwards;
}
.pathSecondary {
  background: var(--pathSecondary-color);
}
.intermediatePath {
  background: rgb(191, 4, 238);
}
.dragging {
  opacity: 0.5;
}
@keyframes pathAnimation {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #254974;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

