:root {
   --slider-color: #302AE6;
  --font-color: #424242;
  --bg-color: #5095e4;
  --heading-color: #292922;
  --wall-color: #254974;
  --pathPrimary-color: #5AD7F0;
  --pathSecondary-color: #5EC45E;
  --menu-background:#F33;
}

[data-theme="dark"] {
  --slider-color: #9A97F3;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --wall-color: #254974;
  --pathPrimary-color: #402de7;
  --pathSecondary-color: #5EC45E;
  --menu-background:rgb(58, 32, 117);
}


body{
  background-color: var(--bg-color);
  color: var(--font-color);
}
* {
  margin: 0;
}


.mainContent {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.topSection {
  flex: 0.2;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* top Section styling */

#Speed-Bar {
  flex: 0.3;
  padding: 20px;
  margin-right: 5%;
  padding: 5px;
}
#Algorithm {
  flex: 0.3;
  padding: 20px;
}
.ButtonContainer {
  flex: 0.4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100px;
  font-size: 15px;
  margin: 10px 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(43, 42, 37);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(182 246 214);
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 95%;
  height: 240%;
  width: 205%;
  background: #eec476;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  transform: translateX(-30%) translateY(-25%) rotate(45deg);
}

.algoDropdown {
  font-size: 18px;
  display: inline-block;
  background-color: #fff;
  border-radius: 12px;
  padding:10px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
 outline:none;
}

#speed {
  width: 200px;
  -webkit-appearance: none;
  background: var(--slider-color);
  outline: none;
  border-radius: 15px;
  overflow-x: hidden;
  box-shadow: inset 0 0 5px;
}
#speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: pointer;
  border: 4px solid #00fd0a;
  box-shadow: -407px 0 0 400px #00fd0a;
}
/* top section styling ends */

.grid-container {
  border-radius: 41px;
  place-content: center;
  flex: 0.8;
  display: grid;
  cursor: crosshair;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(var(--rows), 30px);
  grid-template-columns: repeat(var(--cols), 30px);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom:2rem;
}
.box {
  background: transparent;
  text-align: center;
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px 0px 10px #d4d4d4, inset 0px -1px 10px #ffffff;
  border: 1px;
}
.isWall {
  background-color: var(--wall-color) !important;
  box-shadow: none;
}
.Icon {
  width: 25px;
  font-size: 25px;
  cursor: grab;
}
.pathPrimary{
  background-color: var(--pathPrimary-color);
  /* animation: pathAnimation 700ms ease-out 1 alternate forwards; */
}
.pathSecondary {
  background: var(--pathSecondary-color);
}
.intermediatePath {
  background: rgb(191, 4, 238);
}
.dragging {
  opacity: 0.5;
}
@keyframes pathAnimation {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #254974;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.MenuIcon{
  font-size:3rem;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
  display:flex;
  justify-content:center;
  align-items:center;
	background-color:var(--menu-background);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
  cursor:pointer;

}
.floatIconsContainer{
  display:flex;
  justify-content:center;
  align-items:center;
}
.floatIconsContainer i{
  font-size: 2rem;
}
ul{
	position:fixed;
	left:10px;
	bottom:80px;
	z-index:100;
}

ul li{
	list-style:none;
	margin-bottom:10px;
}

ul li div{
  background-color:var(--menu-background);

	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
}

ul:hover{
	visibility:visible!important;
	opacity:1!important;
  cursor:pointer;
}

div#menu + ul{
  visibility: hidden;
}

div#menu:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

div#menu i{
	animation: rotate-in 0.5s;

}

div#menu:hover > i{
	animation: rotate-out 0.5s;

}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
@media only screen and (max-width: 720px){
  .ButtonContainer{
    display:none !important;
  }
}
@media only screen and (min-width: 720px){
  .floatingCTA{
    display:none !important;
  }
}